@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Russia%27s_decision_on_mobilization_is_an_admission_that_their_regular_army_did_not_withstand_and_crumbled_-_address_by_the_President_of_Ukraine._%2852377495913%29_%28cropped%29.jpg" class="img-thumbnail" alt="...">