<h1>Політична діяльність</h1>
<p>У серпні 2014 року Зеленський виступив проти наміру Мінкульту створити список осіб з Росії, що створюють загрозу нацбезпеці України[40].

2015 року, після виходу серіалу «Слуга народу» (а пізніше — фільму), почалися розмови про те, що Зеленський може бути кандидатом на посаду Президента України[41]. У грудні 2017 року юрист «Студії Квартал 95» Іван Баканов зареєстрував однойменну політичну партію — Слуга народу.

У грудні 2018 року Зеленський заявив, що як президент він спробує припинити російсько-українську війну на Донбасі шляхом переговорів з Росією[42].

Президентські вибори (2019)
Докладніше: Вибори Президента України 2019

Результати голосування у другому турі президентських виборів за округами. Зеленим позначено округи, де переміг Володимир Зеленський, бордовим — Петро Порошенко, сірим — окуповані території.
Володимир Зеленський оголосив про намір балотуватися у президенти України під час новорічного звернення в ефірі каналу 1+1[43].

21 січня 2019 року партія «Слуга народу» на своєму з'їзді висунула Зеленського кандидатом у президенти[44], а 30 січня ЦВК офіційно зареєструвала кандидатуру Зеленського на виборах[45].

Соціологи почали включати кандидатуру Володимира Зеленського навесні 2018 року[46]. Протягом 2018 року його рейтинг коливався у межах 5—10 % підтримки, проте після оголошення про його політичні амбіції вже в середині січня він очолив рейтинг кандидатів у президенти, надалі збільшуючи свою перевагу над рейтингами своїх головних конкурентів Петра Порошенка та лідерки ВО «Батьківщина» Юлії Тимошенко[47].

Під час передвиборчої кампанії Зеленський позиціював себе як альтернативу старій політичній системі та старим політикам[48]. Багато в чому висока підтримка його кандидатури зумовлювалася невдоволеністю виборців поточним станом справ у державі — розчаруванням у фігурах політичної еліти, що були при владі майже 30 років[48], а також переважним переконанням виборців, що після 5 років, що минули з часу Революції гідності, країна рухається в, на їхню думку, неправильному напрямку[49].

Певною мірою кандидатура Зеленського ототожнювалася із зіграним ним персонажем серіалу «Слуга народу» вчителем історії Василем Голобородьком, який став «президентом з народу»[50][51], хоча головний політконсультант Зеленського Дмитро Разумков заперечував це та в інтерв'ю українським ЗМІ зазначив, що «кандидат в президенти Володимир Зеленський — це не образ його персонажа Василя Голобородька»[52].

Власну виборчу програму Володимир Зеленський запропонував написати своїм прихильникам[53]. Основними її пунктами стали реформування економіки України шляхом запровадження «нульової декларації» для бізнесу, переходу від солідарної до накопичувальної пенсійної системи, перетворення України на «електронну країну»[54].

Сам же Зеленський не озвучував нічого конкретного щодо своєї майбутньої політики[55]. Він намагався не виражати свої погляди публічно, уникав великих інтерв'ю, натомість провівши декілька пресконференцій і виступивши на дебатах проти Петра Порошенка[56].

Фінансування передвиборчої кампанії здійснювалося здебільшого коштом партії «Слуга народу» (16 млн грн), внесків фізичних осіб (68 млн грн) та коштів самого Зеленського (11,5 млн грн); загальний бюджет передвиборчої кампанії становив 102,8 млн гривень відповідно до фінансового звіту ЦВК[57]. Сам Зеленський заявив, що вартість його президентської кампанії становить 80,5 млн гривень його власних коштів, коштів його друзів та партнерів по бізнесу[58].

Під час передвиборчої кампанії обговорювалися можливі зв'язки Зеленського з олігархом Ігорем Коломойським[59]. Зокрема, зв'язки кандидата та бізнесмена досліджували проєкти журналістських розслідувань «Схеми» та Bihus.info. Журналісти виявили, що Зеленський користується послугами охоронців, які свого часу працювали на Коломойського[60], а до передвиборчого штабу входить юрист олігарха Андрій Богдан[61][62]. Однак штаб Зеленського, як і сам Ігор Коломойський, звинувачення в співпраці відкинули[63][64]. Через можливі зв'язки кандидата й олігарха низка публічних осіб та діячів культури закликали не голосувати за Володимира Зеленського[65][66].

Під час передвиборчої кампанії Володимир Зеленський запропонував, а Петро Порошенко підтримав ідею Зеленського про здачу аналізів на наявність алкоголю та наркотиків в організмі. Обоє кандидатів здали аналізи, але в різних місцях.[67] Володимир Кличко запропонував здати аналізи в міжнародну лабораторію VADA (Voluntary Anti-Doping Association), де їх здав Порошенко, але Зеленський знехтував його пропозицією та здавав аналізи в клініці «EuroLab», власник якої є його соратником та бізнес-партнером, а кров на аналіз у Зеленського в клініці його партнера брав актор забороненого[68] серіалу «Свати», відзнятого в тому числі студією «Квартал-95».[69][70] Спочатку було оголошено, що результати будуть за декілька днів, але Зеленський оприлюднив їх у своєму facebook за три години із помилкою в даті.[71] Чинна на той час очільниця МОЗ Супрун заявила, що аналіз лише крові без нігтів та волосся не є дійсним показником наркотичної залежності, на перевірці якої наполягав Зеленський у своєму відеозверненні до Порошенка.[72]

Володимир Зеленський під час дебатів на стадіоні «Олімпійський» заявив про те, що він не був в Росії з моменту початку війни. Однак, за твердженням журналістів програми «Схеми: корупція в деталях» (спільний проєкт Радіо Свобода і телеканалу «UA: Перший»), Зеленський відвідував Росію 4 рази в травні-червні 2014 року.[73][74] Також соціальними мережами почав ширитись фрагмент із програми ЧистоNews від 14 травня 2014, де Зеленський веде репортаж з Манежної площі в Москві.[75]

Під час тих же теледебатів назвав «повстанцями» російських найманців, що воюють проти ЗСУ в складі терористичних збройних формувань ДНР та ЛНР на Донбасі[76].

За результатами голосування 31 березня Володимир Зеленський у першому турі посів перше місце, набравши 30,24 % голосів (проти 15,95 % за Петра Порошенка, який також вийшов до другого туру)[77]. 21 квітня в другому турі Зеленський переміг свого опонента з результатом у 73,22 % підтримки проти 24,45 % у тодішнього президента[78][79].

Президентство
Докладніше: Президентство Володимира Зеленського

Володимир Зеленський на інавгурації, Київ, 20 травня 2019 року
20 травня 2019 року відбулася інавгурація Володимира Зеленського.

Першими указами новобраний президент сформував керівництво Адміністрації Президента[80] (главою ОП став Андрій Богдан[81]) та призначив начальником Генерального штабу ЗСУ Руслана Хомчака[82].

21 травня 2019 року Зеленський власним указом достроково розпустив Верховну Раду VIII скликання, призначивши позачергові вибори 21 липня (замість чергових 27 жовтня)[83]. Призначив голову Національної інвестиційної ради[84].

19 вересня 2019 року заступникові голови Офісу президента Сергію Трофімову було передане посвідчення члена Українського товариства сліпих, виписане, на ім'я Володимира Зеленського, щоби він, як Президент, звернув увагу на підприємства, де працюють сліпі, та допомагав товариству та сліпим людям[85].

У відповідь на неодноразові прохання представників українських ЗМІ, 10—11 жовтня 2019 року Президент України Володимир Зеленський провів найтривалішу у світовій історії пресконференцію, що тривала понад 14 годин: з 10:03 ранку до 00:11 вночі наступної доби[86][87][88], та дав відповіді на понад 500 запитань[89] від понад 200-х з майже акредитованих 300 журналістів з центральних та регіональних ЗМІ України та ЗМІ інших країн: США, Великої Британії, Білорусі, Італії, Іспанії, Нідерландів, Росії, Туреччини, Японії тощо.

Представниками «Національного реєстру рекордів України» Володимиру Зеленському було вручено сертифікат про фіксацію рекорду як українського досягнення[90][91][92][93].

Кадрова політика

20 травня 2019 року, у день інавгурації Зеленського, голова СБУ Василь Грицак[94], командувач Сил спеціальних операцій Ігор Луньов та міністр оборони Степан Полторак[95] подали заяви на звільнення.[96] 31 травня 2019 року Зеленський звільнив керівництво СБУ.[97] Указом № 342/2019 звільнено першого заступника Голови СБУ Віталія Малікова.[97] Крім того, указом № 343/2019 він звільнив Малікова з посади керівника Антитерористичного центру при СБУ.[97] Також звільнено начальника головного управління СБУ у Києві та області Олега Валендюка (указ № 344/2019)[97] та Петра Цигикала з посади голови Державної прикордонної служби.[98]

21 травня 2020 року призначив керівником Офісу президента Андрія Богдана. 11 лютого 2020 року Президент своїм указом звільнив Богдана з посади керівника Офісу Президента України й призначив на його місце Андрія Єрмака (до цього він був помічником Президента).

11 червня 2019 року Зеленський вніс до Верховної Ради подання на надання згоди на звільнення генерального прокурора України Юрія Луценка[99]. Подання не було розглянуто[100]. Сам Луценко заявляв, що піде у відставку після парламентських виборів[101]. Зеленський заявив, що новим генеральним прокурором бачить Руслана Рябошапку.[102] Того ж дня Зеленський звільнив заступників голови СБУ Олега Фролова і Владислава Косинського та ще шістьох начальників обласних управлінь відомства в Одеській, Львівській, Волинської, Вінницькій, Закарпатській та Чернівецькій областях.[103]

9 липня 2019 року Зеленський одним розпорядженням звільнив 70 голів районних державних адміністрацій. Причиною звільнень вказав закінчення строку повноважень президента України.[104]

4 березня 2020 року Верховна Рада 353-ма голосами звільнила Олексія Гончарука з посади прем'єр-міністра. Виступаючи в парламенті, президент Зеленський заявив, що уряд Гончарука має досягнення, але не зміг впоратись із поставленими завданнями[105]. Новим главою уряду став Денис Шмигаль. За його кандидатуру проголосував 291 депутат.

7 травня 2020 року президент Зеленський призначив Міхеіла Саакашвілі главою Виконавчого комітету Національної ради реформ[106].

Закон про скасування депутатської недоторканності

11 вересня 2019 року президент підписав Закон України Про внесення змін до статті 80 Конституції України щодо недоторканності народних депутатів України № 27- IX, ухвалений Верховною Радою 3 вересня 2019 року. Згідно із законом, стаття 80 Конституція України викладається у новій редакції, яка не містить положень про те, що народним депутатам України гарантується депутатська недоторканність і вони не можуть без згоди Верховної Ради бути притягнуті до кримінальної відповідальності, затримані чи заарештовані. Закон набув чинності з 1 січня 2020 року[107].

Виборча реформа

19 грудня 2019 року Верховна Рада утвердила Виборчий кодекс загалом з урахуванням пропозицій президента Зеленського, які передбачають відкриті регіональні списки кандидатів у народні депутати. Закон передбачає пропорційну виборчу систему з відкритими списками. Згідно з документом виборці на виборах голосуватимуть не тільки за партію, а за конкретного кандидата в списку партії[108].

Закон про імпічмент

23 вересня 2019 р. президент України В. Зеленський підписав закон про імпічмент. Верховна Рада Ухвалила закон «Про особливу процедуру усунення президента України з посади (імпічмент)» у першому читанні й загалом 10 вересня. Документ був ухвалений винятково силами депутатів від «СН». В інших фракціях законодавчу ініціативу голови держави назвали недостатньою й заскладною, а також наголосили на порушенні регламенту ВР під час розгляду проєкту закону.

Згідно з документом, процедура імпічменту має ініціюватися більшістю народних депутатів України від конституційного складу ВРУ. Для цього парламент має створити спеціальну тимчасову слідчу комісію, до складу якої повинні входити народні депутати України, спеціальний прокурор і спеціальні слідчі. Ця ТСК готуватиме висновки й пропозиції за дослідженими обставинами щодо вчинення президентом державної зради або іншого злочину.

Рішення про усунення президента України з посади в порядку імпічменту вважатиметься ухваленим, якщо за нього проголосує не менше ніж три чверті народних депутатів України від конституційного складу ВР. У разі неухвалення постанови про імпічмент президента голова від імені парламенту має вибачитись перед президентом[109].

Земельна реформа

14 грудня 2019 р. депутати Ради прийняли за основу проєкт Закону № 2178-10 «Про внесення змін до деяких законодавчих актів України щодо обігу земель сільськогосподарського призначення», який передбачає скасування мораторію на продаж землі з 1 жовтня 2020 року[110].

8 серпня 2019 року під час виступу на україно-турецькому бізнес-форумі Зеленський повідомив про наміри провести земельну реформу в Україні до кінця 2019 року. Раніше в Офісі президента вже анонсували, що до кінця року планують скасувати мораторій на продаж сільськогосподарської землі.[111]

Мораторій на купівлю-продаж сільськогосподарських земель, який із 2001 року продовжувався уже десять разів, наразі[коли?] охоплює 96 % с/г земель, при чому 68 % — це паї селян.[112] Документ передбачає заборону на внесення права на земельну частку (пай) до статутних капіталів господарських товариств; купівлю-продаж земельних ділянок сільськогосподарського призначення державної та комунальної власності, крім вилучення (викупу) їх для суспільних потреб; купівлю-продаж або іншим способом відчуження земельних ділянок і зміна цільового призначення (використання) земельних ділянок, які перебувають у власності громадян та юридичних осіб для ведення товарного сільськогосподарського виробництва.[113] Питання залучення іноземних інвесторів відкладено до вирішення на референдумі[114].

Голоси подали зокрема політичні фракції партії експрезидента Петра Порошенка та Святослава Вакарчука.

7 лютого 2019 року тодішній президент України Порошенко підписав закон про продовження мораторію до 1 січня 2020 року.[115].

28 квітня 2021 p. депутати ВР прийняли в цілому законопроєкт «Про внесення змін до Земельного кодексу України та інших законодавчих актів щодо удосконалення системи управління та дерегуляції у сфері земельних відносин» № 2194. Законопроєкт зокрема передбачає передачу землі державної власності за межами населених пунктів (крім земель, які потрібні державі для виконання їх функцій) до комунальної власності сільських селищних, міських рад[116].

24 травня закон про земельну децентралізацію був підписаний президентом Зеленським під час форуму «Україна30. Земля»[117].

Закон про легалізацію грального бізнесу

14 липня 2020 року Верховна Рада проголосувала за легалізацію грального бізнесу в Україні. Він дозволяє організацію та проведення азартних ігор в казино, у залах гральних автоматів, в мережі Інтернет, букмекерську діяльність. 11 серпня президент України Володимир Зеленський підписав закон про легалізацію грального бізнесу в Україні[118].

Конституційна криза

27 жовтня 2020 Конституційний суд за поданням 47 народних депутатів ухвалив рішення, яким скасував статтю 366-1 Кримінального кодексу, що передбачає відповідальність за недостовірне декларування. Також КС визнав неконституційними положення законів про перевірку е-декларацій чиновників і скасував право НАЗК перевіряти декларації та виявляти конфлікт інтересів. КС своїм рішенням позбавив НАЗК доступу до державних реєстрів, необхідних для проведення спецперевірок декларацій кандидатів на керівні посади до органів влади. Без цієї перевірки жоден керівник державного органу не може бути офіційно призначеним.

28 жовтня 2020 НАЗК закрило доступ до Єдиного державного реєстру декларацій. Утім, 29 жовтня ввечері Кабінет міністрів зобов'язав НАЗК відновити публічний доступ до Єдиного реєстру декларацій. Конституційний суд 28 жовтня оприлюднив текст рішення, ухваленого Великою палатою КС у складі 15 суддів. У НАБУ заявили, що через рішення КС досі всі справи про недостовірне декларування закриють, а викриті на зловживаннях посадовці уникнуть відповідальності. Потім президент Зеленський вніс до ВР проєкт закону, яким пропонує припинити повноваження усього складу Конституційного суду. У законопроєкті йдеться, зокрема, що рішення КС від 27 жовтня є «нікчемним як таке, що прийнято суддями Конституційного суду України в умовах реального конфлікту інтересів». Зеленський запропонував припинити повноваження суддів КСУ з дня набрання чинності законом, а суб'єктам призначення суддів невідкладно розпочати процедуру конкурсного відбору нового складу суду.

2 листопада 2020 у ВР було зареєстровано законопроєкт, яким пропонується відновити норми про е-декларування, які були скасовані КС. Авторами проєкту закону Про відновлення дії окремих положень закону Про запобігання корупції та Кримінального кодексу України № 4304) є Разумков і члени різних фракцій парламенту, зокрема «ЄС», «Голос» та «СН»[119].

4 грудня 2020 р. Верховна Рада відновила кримінальну відповідальність за недостовірне декларування — за брехню про статки передбачені штраф і обмеження волі. «За» проголосували 289 депутатів. Депутати голосували за компромісний законопроєкт № 4460-д, створений на основі президентського законопроєкту № 4434 і напрацьованого робочою групою № 4441.

Згідно з документом, умисне внесення суб'єктом декларування свідомо недостовірних відомостей до декларацій на суму від 500 до 4000 прожиткових мінімумів для працездатних осіб (на той момент від 1,3 до 9 млн гривень) карається штрафом від 2,5 до 3 тисяч неоподаткованих мінімумів доходів громадян (від 42,5 до 51 тисячі громадян) або громадськими роботами на строк від 150 до 240 годин, з позбавленням права обіймати певні посади чи займатися певною діяльністю на строк до 3 років.

Умисне внесення суб'єктом декларування недостовірних відомостей від 4 тисяч прожиткових мінімумів (на той момент 9 мільйонів грн.) карається штрафом від 3 до 5 тисяч неоподаткованих мінімумів (від 51 до 85 тисяч ₴) або громадськими роботами на строк від 150 до 249 годин, або обмеження волі на строк до 2 років з позбавленням права обіймати певні посади чи займатися певною діяльністю на строк до 3 років[120].

25 грудня 2020 президент Зеленський підписав закон Про внесення змін до Закону України Про запобігання корупції, який парламент ухвалив 15 грудня. Так, повністю відновилися повноваження НАЗК, які заблокував Конституційний суд[121].

14 липня 2021 р. Верховний Суд задовольнив позов судді Олександра Тупицького до президента Зеленського і визнав протиправним указ, яким він звільнив пана Тупицького з посади судді й голови Конституційного суду. Відповідне рішення ухвалили у середу, 14 липня. Верховний суд роз'яснив, що президент повинен діяти в рамках конституції, а Конституція і закони України не містять норми, що президент має права звільнити суддів конституційного суду[122].

Блокування проросійських каналів

2 лютого 2021 року Зеленський ввів санкції проти проросійських телеканалів нардепа Тараса Козака та кума Путіна Віктора Медведчука: «112 Україна», «NewsOne», «ZIK». Також, були введені санкції проти Козака терміном на 5 років[123]:

блокування активів;
запобігання виведенню капіталів за межі України;
зупинення виконання економічних та фінансових зобов'язань;
анулювання або зупинення ліцензій та інших дозволів, одержання (наявність) яких є умовою для здійснення певного виду діяльності;
заборона користування радіочастотним ресурсом України;
припинення надання послуг з ретрансляції, або розповсюдження телепрограм/надання телекомунікацій послуг і використання телекомунікаційних мереж.
22 лютого РНБО застосувала санкції проти голови ради партії «ОПЗЖ» Медведчука та його дружини Оксани Марченко. До санкційного списку увійшли ще 6 фізичних осіб і 19 юридичних. Санкції пов'язано з розслідуванням СБУ за ст. «фінансування тероризму». Обмеження, зокрема, передбачають блокування активів та анулювання ліцензій на користування надрами.

11 травня того ж року вручили підозри народним депутатам Віктору Медведчуку та Тарасу Козаку, яких підозрюють у вчиненні держзради та розграбування національних ресурсів на тимчасово окупованій території Автономної Республіки Крим[124].

12 лютого 2022 року президент Зеленський ввів санкції проти телеканалу «Наш» Євгена Мураєва[125].

Ліквідація ОАСК
14 квітня 2021 президент Зеленський вніс в Раду законопроєкт про ліквідацію скандального Окружного адмінсуду Києва та утворення Київського міського окружного адміністративного суду. Тексти президентських законів № 5369 та № 5379 були опубліковані на сайті парламенту. Суддів ОАСК до доброчесності яких не буде виникати питань, переведуть до іншого суду, а якщо не захочуть — будуть звільнені[126].

Закон про деолігархізацію
2 червня 2021 року Зеленський подав до ВРУ законопроєкт «Про запобігання загрозам національній безпеці, пов'язаним із надмірним впливом осіб, які мають значну економічну або політичну вагу в суспільному житті (олігархів)». Метою закону, за словами Президента, є боротьба з особами, що мають значні статки та значний вплив у суспільстві та політиці (олігархами). Особу ідентифікують олігархом, якщо вона відповідає 3 із 4 вказаних критеріїв, а після цього її повинні внести до спеціального реєстру. Статус олігарха має визначати РНБО[127][128].

1 липня депутати ВР прийняли закон у першому читанні. «За» проголосували 231 депутат пропрезидентської фракції, 18 голосів дала фракція «За майбутнє» та «Довіра» і 8 позафракційних депутатів[129].

23 вересня того ж року народні депутати підтримали у другому читанні «закон про олігархів». Цей закон підтримали 279 депутатів. Це фракції «СН» — 229 голосів, «Довіра» — 15, «За майбутнє» — 18, «Голос» — 11. Висновок Венеціанська комісія надасть у грудні[130].

5 листопада закон був підписаний президентом Зеленським[131] Того ж місяця у Європарламенті заявили, що закон про олігархів стане явним політичним інструментом у боротьбі проти політичних опонентів[132].

Судова реформа
29 червня 2021 р. Верховна Рада прийняла законопроєкт № 7711-Д, який передбачає зміни до Закону «Про судоустрій та статус суддів», відповідно до якого передбачається перезапуск Вищої кваліфікаційної комісії суддів за вищої ролі міжнародних експертів. «За» ухвалення законопроєкту проголосувало 293 депутати, «проти» — 20, утримались — 0.

Законопроєкт, який ухвалили депутати, передбачає, що членів ВККС буде відбирати конкурсна комісія з 6 членів. Йдеться про трьох чинних суддів або суддів у відставці та трьох незалежних міжнародних експертів. Водночас нардепи прийняли 453 поправку, яка передбачає, що міжнародні експерти матимуть вирішальний голос при відборі кандидата до ВККС. Раніше до ухвалення цієї поправки закликали громадські організації[133]. 8 липня Зеленський ветував закон про ВККС та повернув в Раду зі своїми доопрацюваннями[134].

3 серпня 2021 року Зеленський підписав закон про реформування Вищої ради кваліфікаційної комісії суддів 3711-д, який Рада після вето прийняла повторно з поправками від президента, та № 5068 — щодо реформування Вищої ради правосуддя.[135].

«Велике будівництво»
2020 року Міністерством розвитку громад і територій України в співпраці з місцевою владою почато виконання програми «Велике будівництво» для створення об'єктів інфраструктури: шкіл, доріг, дитячих садків, стадіонів, центрів екстреної медичної допомоги[136].

У багатьох ЗМІ програму критикують за можливу крадіжку бюджетних коштів і називають «Великим крадівництвом»[137][138].

Зміцнення обороноздатності

1 лютого 2022 року Зеленський підписав указ про збільшення кількості ЗСУ на 100 тис. осіб. Таким чином, через три роки вона становитиме 362 тис. військовослужбовців. Бюджет Міністерства оборони на 2022 рік був рекордним і становив 133,5 млрд грн[139].

Воєнний стан та війна з Росією

Володимир Зеленський під час звернення, 14 березня

Володимир Зеленський на зустрічі з головами уряду Польщі, Чехії та Словенії, 15 березня

Володимир Зеленський під час виступу в конгресі США, 22 грудня
22 лютого 2022 року під час пресконференції в Кремлі Володимир Путін заявив, що визнав «незалежність» ОРДЛО. Він повідомив, що визнав і межі цих «республік», визнаних в їх «конституціях», тобто всю Донецьку та Луганську область. За словами Путіна, він розуміє, що це — «спірне питання», і він сподівається на його вирішення під час переговорів між Україною та «керівництвом республік». Таким чином, Путін підтвердив, що російські війська, яким уже дозволено увійти в так звані «ЛДНР», можуть брати участь у наступальних операціях на підконтрольній Києву території Луганської та Донецької області[140].

23 лютого Верховна Рада підтримала введення надзвичайного стану по всій Україні, крім Донецької та Луганської областей, де діє ООС[141].

24 лютого, о 5 ранку, В. Путін заявив про початок наступу на Україну[142], а Верховна Рада України ввела воєнний стан. Законопроєкт відразу був підписаний президентом Зеленським. Воєнний стан було запроваджено строком на 30 днів[143]. Того ж дня Україна розірвала дипломатичні відносини з Росією[144].

Під час наступу російських військ на Київ у ніч з 25 на 26 лютого 2022 року, Володимир Зеленський відмовився від пропозиції США евакуювати його зі столиці[145]. Він підтвердив відеозаписом перед Офісом президента, що разом з іншими високопосадовцями перебуває у Києві[146].

Володимир Зеленський 26 лютого звернувся до прем'єр-міністра Ізраїлю Нафталі Беннета з проханням провести переговори між Україною та Росією та допомогти їм стати посередником[147]. Радник глави Офісу президента Михайло Подоляк заперечив твердження речника Росії Дмитра Пєскова про відмову України від переговорів і пояснив, що переговори повинні відбутися у повноцінному форматі, а не як висунення Росією ультиматумів[148].

27 лютого президент Зеленський підкреслив, що дії РФ проти України мають ознаки геноциду та закликав виключити Росію з ООН. Він відзначив, що дії Росії тягнуть на міжнародний трибунал[149].

Того ж дня, президент відзначив, що готовий до переговорів з Росією у будь-якій країні з якої не летять ракети. Серед можливих міст він назвав Варшаву, Братиславу, Будапешт, Стамбул, Баку[150]. У ході розмови 27 лютого 2022 року Володимира Зеленського із самопроголошеним президентом Білорусі Олександром Лукашенком, вони домовилися, що українська делегація зустрінеться з російською без попередніх умов на українсько-білоруському кордоні, в районі річки Прип'ять, для дипломатичних перемовин[151].

У понеділок, 28 лютого президент Зеленський підписав заявку на членство України в ЄС[152]. 1 березня Європарламент рекомендував надати Україні статус кандидата в члени ЄС[153]. Того ж дня Володимир Зеленський виступив по відеозв'язку у Європарламенті[154].

Президент жорстко розкритикував 4 березня відмову країн-членів НАТО запровадити безпольотну зону в небі над Україною і завив, що Північноатлантичний альянс також нестиме відповідальність за загибель українців. Разом з тим він подякував друзям України серед країн-членів НАТО, які, попри позицію Альянсу загалом, продовжують стояти пліч-о-пліч з Україною та допомагати у відсічі ворога[155].

У зверненні 5 березня президент закликав окуповані раніше території Донецької та Луганської областей боротися, як і в інших окупованих містах. Зеленський наголосив, що спротив українців на тимчасово окупованих територіях дає впевненість у тому, що Українську державу буде відновлено[156].

11 березня Зеленський підписав закон про націоналізацію російських активів. Документ передбачає примусове вилучення майна, власниками якого є РФ та її резиденти на користь України. Тепер держава може конфіскувати рухоме і нерухоме майно, кошти, вклади у банках, цінні папери, корпоративні права, інші активи, що є зареєстровані на території України[157][158]. Наступного дня президент наголосив, що втрати Росії у війні з Україною найбільші за десятки років[159].

20 березня РНБО призупинило діяльність партій, які мають зв'язки з РФ. Мова йде про «Опозиційну платформу — За Життя», «Партія Шарія», «Наші», «Опозиційний Блок», «Соціалістична партія України», «Соціалісти», «Прогресивна соціалістична партія України»[160] та інші. Того ж дня президент Зеленський ввів у дію рішення РНБО про тимчасове призупинення проросійських партій[161]. 31 березня президент назвав війну з Росією «вітчизняною»[162].

22 серпня заявив, що Україна відмовиться від будь-яких переговорів з Росією, якщо відбудеться показовий суд над захисниками «Азовсталі»[163].</p>